<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="au.id.martinstrauss.martinstrauss.feature">
  <dist:module dist:instant="true" dist:onDemand="false"
          dist:title="@string/title_feature">
      <dist:fusing dist:include="true" />
  </dist:module>

  <application>
    <activity
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:label="@string/app_name"
        android:name=".CallingCardActivity"
        android:theme="@style/FullscreenTheme">
      <intent-filter android:order="1" android:autoVerify="true">
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.BROWSABLE"/>
        <category android:name="android.intent.category.DEFAULT"/>

        <data android:scheme="http" />
        <data android:scheme="https" />
        <data android:host="martinstrauss.id.au" />
        <data android:host="www.martinstrauss.id.au" />
        <data android:pathPrefix="/" />

      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <meta-data
          android:name="default-url"
          android:value="https://martinstrauss.id.au/" />
    </activity>
  </application>

</manifest>
